.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: blueviolet;
}


.checkboxes{
    display: flexbox;
    justify-content: center;
    align-items: center;
}